data/*
figures/*
logs/*
*_pycache_*
model/*
.vscode/*
results/*
docs/Bellec et al. - A solution to the learning dilemma for recurrent networks of spiking neurons.pdf
docs/Frenkel, Indiveri - 2022 - ReckOn A 28nm Sub-mm2 Task-Agnostic Spiking Recurrent Neural Network Processor Enabling On-Chip Learning over.pdf
